
/* Responsive styles for different screen sizes */

/* Styles for screens down to 1320px wide */

@media screen and (max-width:1320px) {
    .food__container {
        margin: 25px;
    }
}

@media screen and (max-width:1200px) {
        .us__parraf {
        max-width: 840px;
    }

    .origin {
        max-width: 840px;
    }

    .mission-vision {
        gap: 50px;
    }

    .mission-vision-container {
        padding: 50px;
        max-width: 400px;
    }

    .values {
        gap: 25px;
    }

    .values-container {
        padding: 25px;
        max-width: 300px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        margin: 75px;
    }
}

/* Styles for screens down to 680px wide */

@media screen and (max-width:790px) {
    .home-section {
        width: 640px;
        display: block;
    }

    .section__image {
        width: 100%;
        height: 250px;
        margin: 15px auto;
    }

    .home__img-container {
        width: 100%;
        margin: auto;
    }

    .mission-vision-container {
        max-width: 300px;
        padding: 25px;
    }

    .values {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .values-container {
        max-width: 350px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
        margin: 75px;
    }
}

/* Styles for screens down to 480px wide */

@media screen and (max-width:480px) {
    header {
        max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }

    .links__nav {
        margin-bottom: 25px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .spacer {
        display: none;
    }

    .home-section {
        width: 400px;
        display: block;
        padding: 40px;
    }

    .section__image {
        width: 100%;
        height: 150px;
        margin: 15px auto;
    }

    .home__img-container {
        width: 100%;
        margin: auto;
    }

    .us__title {
        font-size: 32px;
    }

    .us__parraf, .origin {
        max-width: 400px;
        padding: 25px;
    }

    .mission-vision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mission-vision-container {
        max-width: 350px;
        margin: 25px;
    }

    .values {
        display: grid;
        grid-template-columns: 1fr;
    }

    .values-container {
        max-width: 350px;
    }

    .creators__container {
        display: flex;
        flex-direction: column;
    }

    .form__container, .contact-form-container, .contact-information {
        width: 90%;
        margin: 50px auto;
    }
}